#spideyGeom
{
	display: none;
}
h1
{
	font-family: 'Monoton', cursive;
}
.script-button
{
	margin-right: 10px;
	padding-top: 15px;
}
.script-name
{
	padding: 0 15px 0 15px;
}
.button
{
	margin-left: 15px;	
}
#editor
{
	width: auto;
	height: 550px;
	position: relative;
	overflow: hidden;
	font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
	font-size: 12px;
	line-height: normal;
	direction: ltr;
	margin-bottom: 25px;
}
.spideyStatus
{
	margin-left: 15px;
	color: red;
}
.scripts-list tr td
{
	padding: 0;
}
.script-title
{
	padding-bottom: 20px !important;
}
.scripts-table
{
	overflow: auto;
	height: 600px;
	width: 420px !important;
}
.scripts-list
{
	border: 0;
}